html,body{
    margin:0;
    padding: 0;
    height: 100%;
}
body{
    display: grid; 
    grid-template-rows: 15% auto 1px 5%;
    background: #eeeded; 
    font-family: 'Courier New', monospace;
    font-size: 24px;
}
header{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.calcul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}
hr{
    border-top: thin solid #c0bebe;
    margin: 0;
}
footer{
    font-size: 12px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.equal{
    grid-column: 4/5;
    grid-row: 3/span 2;
}
.clear{
    grid-column: 5/6;
    grid-row:3/span 2;
}
.display{
    box-sizing: border-box;
    box-shadow: inset 0 3px 2px -2px rgb(209, 209, 209);
    border-radius: 5px;
    background: white;
    width: 60vh;
    height: 12vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:0 2px;
}
.buttons{
    display:inline-grid;
    grid-template-columns: repeat(5,12vh);
    grid-template-rows: repeat(4,12vh);
}
button{
    background: white;
    border: none;
    font: inherit;
    box-shadow: inset 0 3px 2px -2px rgb(209, 209, 209);
    border-radius: 5px;
    transition-property: background;
    transition-duration: 250ms;
}
.operator,#ce,#decimal{
    color:#ec6e06;
}
.number,.equal,.clear{
    color:black;
}
button:hover{
    background: rgb(206, 206, 206);
}